.Contlogout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;

}

.ConMenuCalif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.centrarItem{
    margin:15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1; /* default is 0 */
    background-color: red;
    width: 90vw;

}
.item2 {
    order: 1; /* default is 0 */
}