
.ponerScroll{
     overflow: scroll;
}
.tituloTabla{
    background-color:#b9bbbe;
   border-radius: 25px;
}

.tablaCompleta{
    
    border-style: solid;
    border-width:2px 2px 2px 2px;
    border-color: #b9bbbe;
/*    border-radius: 25px;*/
}

.principalMando{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    background-color: white;
}

.ArribaMando{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px; 
    border-style: solid;
    border-width:0px 1px 0px 0px;
    border-color: #b9bbbe;
    /*background-color: blue;*/
}

.AbajoMando{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*padding: 10px;*/ 
    /*background-color: white;*/
}

.logoMando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.labelMando{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.logoMando{
    justify-content: flex-start;
    width: 400px; 
    height: 50%;
}

.algo1{
    text-align: left;
    width: 50%;
    padding-left: 20px;
}
.algo2{
    text-align: right;
    width: 50%;
    padding-right: 20px;
}

.arriba2Mando{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px; 
    border-style: solid;
    border-width:0px 0px 1px 0px;
    border-color: #b9bbbe;
}

.Abajo2Mando{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px; 
    border-color: #b9bbbe;
    /*background-color: black;*/
}

.letramando{
    font-size: 40px;
}

.botonesSINOMANDO{
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    border-color: #b9bbbe;
    /*background-color: black;*/
}

.boton1Mando{
    width: 100px;
    margin: 10px;
}

.boton2Mando{
    width: 200px;
    /*margin: 30px;*/
}
.logo2empMando{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.botonP2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.logomagiturno{
    width: 150px;
    height: 40px;
}
.panelConfirmar
{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.texto2
{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}