<div class="cuerpo">

    <div class="panelSuperior">
        <div class="nombreusuario">
            {{NombreUsuario}}
        </div>

        <div class="logo">
            <!--logo-->
            <img src="image/LOGO PNG.png" alt="" class="logo2"/>
        </div>

        <div class="logout" ng-click="cerrarSesion()">
            <img src="image/logout.png" alt="" style="width: 25px; height: 25px; margin-right: 10px"/>
            Cerrar Sesion
        </div>

    </div>

    <div class="panelMedio">
        <div class="paneliz">
            <div class="usuario">
                {{TipoUsuario}}
            </div>
            <div class="items" ng-click="ClicItem('Modulo')">
                <div class="icono">
                    <img src="image/modulo.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Modulo
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Servicios')">
                <div class="icono">
                    <img src="image/servicio.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTipoPoblacion')">
                <div class="icono">
                    <!--icono-->
                    <img src="image/confTipoPoblacion.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Config Tipo Población
                </div>
            </div>
            <div class="items" ng-click="ClicItem('AsigServicios')" style="background-color: #b9bbbe; font-weight: bold;">
                <div class="icono">
                    <img src="image/relacionUsuarioServicio.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Asignación de Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Usuarios')">
                <div class="icono">
                    <img src="image/crearUsuario.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Usuarios 
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTurnosPerdidos')">
                <div class="icono">
                    <img src="image/confiTurnosPerdidos.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Config. de Turnos Perdidos
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Reportes')">
                <div class="icono">
                    <img src="image/reportes.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Reportes
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTv')">
                <div class="icono">
                    <img src="image/confiVisualizador.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    ConfigTv
                </div>
            </div>
            www.ingetronik.com

        </div>


        <!--AQUI SE PROGRAMA-->
        <div class="paneldere">
            <div class="subtituloDerecha">
                <h5>Asignación de Servicios</h5>
            </div>
            <div class="principalAsigServicio">

                <div class="IzquierdaAsigServicio">
                    <div class="ArribaAsigServicio">
                        <label for="exampleFormControlSelect1">USUARIOS</label>
                        <select class="form-control" ng-change="UsuarioSeleccionado()" ng-model="usuarioSelect">
                            <option ng-repeat="usu in usuarios" ng-value="{{usu.IdUsuario}}">{{usu.NombreUsuario}}</option>
                        </select>
                    </div>
                    <div class="AbajoAsigServicio">
                        <div>
                            <label for="exampleFormControlSelect1">SERVICIOS ASIGNADOS</label>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">SERVICIO</th>
                                    <th scope="col">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="serR in ServicioRelacionado"> 
                                    <th scope="row" class="infotablaServicio">{{serR.Servicio}}</th>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" ng-click="EliminarServicio(serR.IdServicio)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="DerechaAsigServicio">
                    <div>
                        <label for="exampleFormControlSelect1">SERVICIOS <b>NO</b> ASIGNADOS</label>
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">SERVICIO</th>
                                <th scope="col">OPCIONES</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="serNR in ServicioNoRelacionado"> 
                                <th scope="row" class="infotablaServicio">{{serNR.Servicio}}</th>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" ng-click="AgregarServicio(serNR.IdServicio)">Agregar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
