<div class="cuerpo">

    <div class="panelSuperior">
        <div class="nombreusuario">
            {{NombreUsuario}}
        </div>

        <div class="logo">
            <!--logo-->
            <img src="image/LOGO 3.png" alt="" class="logo2"/>
        </div>

        <div class="logout" ng-click="cerrarSesion()">
            <img src="image/logout.png" alt="" style="width: 25px; height: 25px; margin-right: 10px"/>
            Cerrar Sesion
        </div>

    </div>

    <div class="panelMedio">
        <div class="paneliz">
            <div class="usuario">
                {{TipoUsuario}}
            </div>
            <div class="items" ng-click="ClicItem('Modulo')">
                <div class="icono">
                    <img src="image/modulo.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Modulo
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Servicios')">
                <div class="icono">
                    <img src="image/servicio.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTipoPoblacion')" style="background-color: #b9bbbe; font-weight: bold;">
                <div class="icono">
                    <!--icono-->
                    <img src="image/confTipoPoblacion.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Config Tipo Población
                </div>
            </div>
            <div class="items" ng-click="ClicItem('AsigServicios')">
                <div class="icono">
                    <img src="image/relacionUsuarioServicio.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Asignación de Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Usuarios')">
                <div class="icono">
                    <img src="image/crearUsuario.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Usuarios 
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTurnosPerdidos')">
                <div class="icono">
                    <img src="image/confiTurnosPerdidos.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Config. de Turnos Perdidos
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Reportes')">
                <div class="icono">
                    <img src="image/reportes.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Reportes
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTv')">
                <div class="icono">
                    <img src="image/confiVisualizador.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    ConfigTv
                </div>
            </div>
            www.ingetronik.com

        </div>

        <div class="paneldere">

            <div class="subtituloDerecha">
                <h5> Configuración del Tipo de Población</h5>
            </div>
            <!--ALERTAS-->
            <div class="alert {{tipoAlerta}} alert-dismissible fade show" ng-show="MostrarAlerta" role="alert">
                <strong>ALERTA!</strong> {{alerta}}
                <button type="button" class="close" ng-click="cerrarAlerta()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="panelgrandConfigTipoPoblacion">

                <div class="panelAribaConfigTipoPoblacion">

                    <div class="input-group mb-3 imputConfigTP">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Tipo de Población</span>
                        </div>
                        <input type="text" class="form-control" ng-model="NPoblacion" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="butTP">
                            <button type="button" ng-click="guardarPoblacion()" class="btn btn-outline-success">Guardar</button>
                        </div>
                    </div>
                    

                </div>

                <div class="panelAbajoConfigTipoPoblacion">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">TIPO POBLACIÓN</th>
                                <th scope="col">OPCIONES</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tpoblacion in poblacion">
                                <th scope="row">{{tpoblacion.TipoPoblacion}}</th>
                                <td>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" ng-click="EliminarPoblacion(tpoblacion.IdPoblacion, 'var')">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>




<!--MODAL PARA ELIMINAR Poblacion-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ELIMINAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> ELIMINAR POBLACIÓN {{PoblacionEliminar}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="EliminarPoblacion(1, 'Eliminar')">Eliminar</button>
            </div>
        </div>
    </div>
</div>
