<div class="cuerpo">

    <div class="panelSuperior">
        <div class="nombreusuario">
            {{NombreUsuario}}
        </div>

        <div class="logo">
            <!--logo-->
            <img src="image/LOGO 3.png" alt="" class="logo2"/>
        </div>

        <div class="logout" ng-click="cerrarSesion()">
            <img src="image/logout.png" alt="" style="width: 25px; height: 25px; margin-right: 10px"/>
            Cerrar Sesion
        </div>

    </div>

    <div class="panelMedio">
        <div class="paneliz">
            <div class="usuario">
                {{TipoUsuario}}
            </div>
            <div class="items" ng-click="ClicItem('Modulo')">
                <div class="icono">
                    <img src="image/modulo.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Modulo
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Servicios')">
                <div class="icono">
                    <img src="image/servicio.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTipoPoblacion')">
                <div class="icono">
                    <!--icono-->
                    <img src="image/confTipoPoblacion.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Config Tipo Población
                </div>
            </div>
            <div class="items" ng-click="ClicItem('AsigServicios')">
                <div class="icono">
                    <img src="image/relacionUsuarioServicio.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Asignación de Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Usuarios')">
                <div class="icono">
                    <img src="image/crearUsuario.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Usuarios 
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTurnosPerdidos')">
                <div class="icono">
                    <img src="image/confiTurnosPerdidos.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Config. de Turnos Perdidos
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Reportes')">
                <div class="icono">
                    <img src="image/reportes.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Reportes
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTv')">
                <div class="icono">
                    <img src="image/confiVisualizador.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    ConfigTv
                </div>
            </div>
            www.ingetronik.com

        </div>

        <div class="panelderedash">
            <div class="panelizqdash">
                <div class="Panelarribadash">
                    <table class="table table-striped tablaCompleta">
                        <thead class="tituloTabla">
                            <tr>
                                <th scope="col">ASESOR</th>
                                <th scope="col">DISPONIBILIDAD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="usu in usuario">
                                <th scope="row" class="infotablaServiciodash">{{usu.NombreUsuario}}</th>
                                <th scope="row" class="infotablaServiciodash">{{usu.Estado}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="Panelabajodash">
                    <table class="table table-striped tablaCompleta">
                        <thead class="tituloTabla">
                            <tr>
                                <th scope="col">TIPO POBLACIÓN</th>
                                <th scope="col">CANTIDAD ATENDIDOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pob in poblacion">
                                <th scope="row" class="infotablaServicioww">{{pob.TipoPoblacion}}</th>
                                <th scope="row" class="infotablaServicioww">{{pob.Cantidad}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panelizqsdash">
                <div class="Panelarribadash1">
                    <table class="table table-striped tablaCompleta">
                        <thead class="tituloTabla">
                            <tr>
                                <th scope="col">SERVICIO</th>
                                <th scope="col">CANTIDAD ATENDIDOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ser in servicio">
                                <th scope="row" class="infotablaServicioWW">{{ser.Servicio}}</th>
                                <th scope="row" class="infotablaServicioWW">{{ser.Cantidad}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="Panelabajodash1">
                    <table class="table table-striped tablaCompleta">
                        <thead class="tituloTabla">
                            <tr>
                                <th scope="col">ASESOR</th>
                                <th scope="col">CANTIDAD ATENDIDOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="usus in usuarioscant">
                                <th scope="row" class="infotablaServicioww">{{usus.NombreUsuario}}</th>
                                <th scope="row" class="infotablaServicioww">{{usus.Cantidad}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>

</div>
