<form ng-submit="submitLogin()">
    <div class="row" id="login">
        <div class=" container-fluid col-md-6" id="imagen" ng-click="abrirLicencia()">
        </div>
        <div class="container-fluid col-md-6" id="input">
            <select id="usuario" class="form-control" ng-change="UsuarioSeleccionado()" ng-model="usuario.usuario" placeholder="Contrasena">
                <option value="">Seleccione el Usuario</option>
                <option ng-repeat="usu in usuarios" ng-value="{{usu.IdUsuario}}">{{usu.NombreUsuario}}</option>
            </select>
            <input type="password" id="contrasena" placeholder="Contrasena" ng-model="usuario.contrasena">
            <!--<input type="text" id="modulo" placeholder="Modulo">-->
            <select class="form-control" id="modulo" ng-change="ModuloSeleccionado()" ng-disabled="mostrarModulo" ng-model="usuario.modulo" >
                <option value="">Seleccione el modulo</option>
                <option ng-repeat="mod in modulos" ng-value="{{mod.IdModulo}}">{{mod.IdModulo}}</option>
            </select>
            <!--<a id="entrar">Entrar</a>-->
            <button id="entrar" type="submit">Entrar</button>
        </div>
    </div>
</form>



<!--MODAL PARA COMPRAR MAS MODULOS-->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="modalCambiarFecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CAMBIAR LICENCIA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-show="mostrarContra">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña de Ingetronik</label>
                        <input type="password" class="form-control">
                    </div>
                    <button ng-click="EntrarLicencia()" class="btn btn-primary">Entrar</button>
                </form>

                <form ng-show="mostrarFechaLicencia">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña de Ingetronik</label>
                        <input type="password" class="form-control" ng-model="algo">
                    </div>
                    <button ng-click="EntrarLicencia()" class="btn btn-primary">Entrar</button>
                </form>

            </div>
        </div>
    </div>
</div>
