<!--AQUI SE PROGRAMA-->
<div class="principalMando">

    <div class="ArribaMando">
        <div class="logoMando">
            <!--logo-->
            <!--<img src="image/LOGO 3.png" alt="" class="logoMando"/>-->
            <img src="image/LOGO PNG.png" alt="" class="logoMando"/>
            <!--<img src="image/LOGO 3.png" alt=""/>-->
        </div>

        <div class="">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">SERVICIO</th>
                        <th scope="col">CANTIDAD</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Renovaciones</th>
                        <td>12</td>

                    </tr>
                    <tr>
                        <th scope="row">Asesoria</th>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="AbajoMando">

        <div class="arriba2Mando">
            <div class="texto2"> <span class="letramando">TURNO</span></div>
            <div class="texto2"> <span class="letramando">{{turno}}</span></div>
            <div class="texto2"><span class="letramando">SERVICIO</span></div>
            <div class="texto2"><span class="letramando">{{servicio}}</span></div>
            <div class="panelConfirmar" ng-show="ShowConfirmarTurno">
                <h3>¿El paciente se encuentra en el momento?</h3>
                    <div class="botonesSINOMANDO">
                        <button type="button" ng-click="ClickSi()" class="btn btn-dark boton1Mando">SI</button>
                        <button type="button" ng-click="ClickNo()" class="btn btn-dark boton1Mando">NO</button>
                    </div>
            </div>
        </div>

        <div class="Abajo2Mando">
            <div class="botonP2">
                <button type="button" class="btn btn-dark boton2Mando" ng-show="ShowDisponible" ng-click="Disponible()">DISPONIBLE</button>
            </div>
            <div  class="logo2empMando">
                <img src="image/Logo Magiturno Website.png" alt="" class="logomagiturno"/>

            </div>

        </div>

    </div>

</div>

