<!--AQUI SE PROGRAMA-->
<div class="principalMando">

    <div class="ArribaMando">
        <div class="logoMando">
            <!--logo-->
            <!--<img src="image/LOGO 3.png" alt="" class="logoMando"/>-->
            <img src="image/LOGO PNG.png" alt="" class="logoMando"/>
            <!--<img src="image/LOGO 3.png" alt=""/>-->
        </div>

        <div class="">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">SERVICIO</th>
                        <th scope="col">CANTIDAD</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Renovaciones</th>
                        <td>12</td>

                    </tr>
                    <tr>
                        <th scope="row">Asesoria</th>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="AbajoMando">

        <div class="arriba2Mando">
            <div class="texto2"> <span class="letramando">TURNO</span></div>
            <div class="texto2"> <span class="letramando">{{turno}}</span></div>
            <div class="texto2"><span class="letramando">SERVICIO</span></div>
            <div class="texto2"><span class="letramando">{{servicio}}</span></div>
            <div class="panelConfirmar" ng-show="ShowConfirmarTurno">
                <h3>¿El paciente se encuentra en el momento?</h3>
                    <div class="botonesSINOMANDO">
                        <button type="button" ng-click="ClickSi()" class="btn btn-dark boton1Mando">SI</button>
                        <button type="button" ng-click="ClickNo()" class="btn btn-dark boton1Mando">NO</button>
                    </div>
            </div>
        </div>

        <div class="Abajo2Mando">
            <div class="botonP2">
                <button type="button" class="btn btn-dark boton2Mando" ng-show="ShowDisponible" ng-click="Disponible()">DISPONIBLE</button>
            </div>
            <div  class="logo2empMando">
                <img src="image/Logo Magiturno Website.png" alt="" class="logomagiturno"/>

            </div>

        </div>

    </div>

</div>



<!--MODAL PARA EDITAR USUARIO-->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BUSCAR PERSONA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>

                    <form ng-submit="FormEditarUsuario()">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label labelListaServicio">CEDULA</label>
                            <div class="col-sm-8">
                                <input type="text"  ng-change="llenartabla()" ng-model="usu.Cedula" class="form-control" required>
                            </div>
                        </div>

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">NOMBRE COMPLETO</th>
                                    <th scope="col">CÉDULA</th>
                                    <th scope="col">TELEFONO</th>
                                    <th scope="col">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="usu in usuario">
                                    <th scope="row" class="infotablaServicio">{{usu.NombreCompleto}}</th>
                                    <th scope="row" class="infotablaServicio">{{usu.Cedula}}</th>
                                    <th scope="row" class="infotablaServicio">{{eje}}{{usu.Telefono}}</th>

                                    <td>
                                        <button type="button" class="btn btn-outline-danger" ng-click="EliminarUsuario(usu.IdUsuario, usu.NombreUsuario, 'var')" data-toggle="modal" data-target="#eliminarUsuario" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">GUARDAR EDICIÓN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
