<div class="cuerpo">

    <div class="panelSuperior">
        <div class="nombreusuario">
            {{NombreUsuario}}
        </div>

        <div class="logo">
            <!--logo-->
            <img src="image/LOGO 3.png" alt="" class="logo2"/>
        </div>

        <div class="logout" ng-click="cerrarSesion()">
            <img src="image/logout.png" alt="" style="width: 25px; height: 25px; margin-right: 10px"/>
            Cerrar Sesion
        </div>

    </div>

    <div class="panelMedio">
        <div class="paneliz">
            <div class="usuario">
                {{TipoUsuario}}
            </div>
            <div class="items" ng-click="ClicItem('Modulo')">
                <div class="icono">
                    <img src="image/modulo.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Modulo
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Servicios')" style="background-color: #b9bbbe; font-weight: bold;">
                <div class="icono">
                    <img src="image/servicio.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTipoPoblacion')">
                <div class="icono">
                    <!--icono-->
                    <img src="image/confTipoPoblacion.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Config Tipo Población
                </div>
            </div>
            <div class="items" ng-click="ClicItem('AsigServicios')">
                <div class="icono">
                    <img src="image/relacionUsuarioServicio.png" alt="" style="width: 30px; height: 30px"/>
                </div>
                <div class="subitem">
                    Asignación de Servicios
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Usuarios')">
                <div class="icono">
                    <img src="image/crearUsuario.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Usuarios 
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTurnosPerdidos')">
                <div class="icono">
                    <img src="image/confiTurnosPerdidos.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Config. de Turnos Perdidos
                </div>
            </div>
            <div class="items" ng-click="ClicItem('Reportes')">
                <div class="icono">
                    <img src="image/reportes.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    Reportes
                </div>
            </div>
            <div class="items" ng-click="ClicItem('ConfigTv')">
                <div class="icono">
                    <img src="image/confiVisualizador.png" alt="" style="width: 25px; height: 25px"/>
                </div>
                <div class="subitem">
                    ConfigTv
                </div>
            </div>
            www.ingetronik.com

        </div>


        <div class="paneldere">
            <div class="subtituloDerecha">
                <h5>Servicios</h5>
            </div>
             <!--ALERTAS-->
                <div class="alert {{tipoAlerta}} alert-dismissible fade show" ng-show="MostrarAlerta" role="alert">
                    <strong>ALERTA!</strong> {{alerta}}
                    <button type="button" class="close" ng-click="cerrarAlerta()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="panelgrandeServicio">
               
                <div class="minipanelServicio">

                    <form ng-submit="guardarServicio()">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label labelListaServicio">Servicio</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="serv.nombreServicio" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 col-form-label labelListaServicio">Prefijo</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="serv.Prefijo"  class="form-control"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label labelListaServicio">Conteo Minimo</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="serv.ConteoMinimo"  class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label labelListaServicio">Conteo Maximo</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="serv.ConteoMaximo"  class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label labelListaServicio">Secuencia</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="serv.Secuencia"  class="form-control"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label labelListaServicio">Prioridad</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="serv.prioridad" required>
                                    <option value="">Seleccione</option>
                                    <option value="1">1-ALTA</option>
                                    <option value="2">2-MEDIA</option>
                                    <option value="3">3-BAJA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 col-form-label labelListaServicio">TV</label>
                            <div class="col-sm-8">
                                <select class="form-control"  ng-model="serv.tv" required>
                                    <option value="">Seleccione</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">TODOS</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group botonesServicio">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="minipanelServicio">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">SERVICIO</th>
                                <th scope="col">OPCIONES</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ser in servicio track by ser.IdServicio">
                                <th scope="row" class="infotablaServicio">{{ser.Servicio}}</th>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" ng-click="EditarServicio(ser.IdServicio)" data-toggle="modal" data-target="#exampleModal">Editar</button>
                                    <button type="button" class="btn btn-outline-danger" ng-click="EliminarServicio(ser.IdServicio, ser.Servicio, 'var')" data-toggle="modal" data-target="#eliminarServicio" >Eliminar</button>
                                    <button type="button" class="btn btn-outline-danger" ng-click="EliminarTurnoEspera(ser.IdServicio, ser.Servicio, 'var')" data-toggle="modal" data-target="#EliminarTurnosEspera" style="margin-top: 4px;width: 165px ">Eliminar Turnos</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
    </div>
</div>






<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



<!--MODAL PARA EDITAR SERVICIO-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EDITAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>

                    <form ng-submit="FormEditarServicio()">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label labelListaServicio">Servicio</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="servEditar.Servicio" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 col-form-label labelListaServicio">Prefijo</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="servEditar.Prefijo" class="form-control"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 col-form-label labelListaServicio">Conteo Minimo</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="servEditar.Cmin" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-4 col-form-label labelListaServicio">Conteo Maximo</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="servEditar.Cmax" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-4 col-form-label labelListaServicio">Secuencia</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="servEditar.Secuencia" class="form-control"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-4 col-form-label labelListaServicio">Prioridad</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="servEditar.prioridad" required>
                                    <option value="">Seleccione</option>
                                    <option value="1">1-ALTA</option>
                                    <option value="2">2-MEDIA</option>
                                    <option value="3">3-BAJA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 col-form-label labelListaServicio">TV</label>
                            <div class="col-sm-8">
                                <select class="form-control"  ng-model="servEditar.tv" required>
                                    <option value="">Seleccione</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">TODOS</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">GUARDAR EDICIÓN</button>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>




<!--MODAL PARA ELIMINAR SERVICIO-->
<div class="modal fade" id="eliminarServicio" tabindex="-1" role="dialog" aria-labelledby="eliminarServicio" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ELIMINAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> ELIMINAR SERVICIO {{ServicioEliminar}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="EliminarServicio(1, '', 'Eliminar')">Eliminar</button>
            </div>
        </div>
    </div>
</div>



<!--MODAL PARA ELIMINAR TURNO ESPERA-->
<div class="modal fade" id="EliminarTurnosEspera" tabindex="-1" role="dialog" aria-labelledby="eliminarServicio" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ELIMINAR TURNO ESPERA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> ELIMINAR TURNOS EN ESPERA DEL SERVICIO {{ServicioEliminar}}</p>
                <br>
                <p>Tenga en cuenta, que el servicio tiene {{numTurnosEspera}} Turnos en Espera</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="EliminarTurnoEspera(1, '', 'Eliminar')">Eliminar</button>
            </div>
        </div>
    </div>
</div>
